USE [master]
GO
/****** Object:  Database [FileSearcher]    Script Date: 10/19/2018 1:29:11 PM ******/
CREATE DATABASE [FileSearcher]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FileSearcher', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FileSearcher.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FileSearcher_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FileSearcher_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FileSearcher].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FileSearcher]
GO
USE [FileSearcher]
GO
/****** Object:  Table [dbo].[SearchQueries]    Script Date: 10/19/2018 1:29:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchQueries](
	[SearchQueryID] [int] IDENTITY(1,1) NOT NULL,
	[TextToSearch] [nvarchar](50) NOT NULL,
	[RootDirectory] [nvarchar](50) NULL,
 CONSTRAINT [PK_SearchQueries] PRIMARY KEY CLUSTERED 
(
	[SearchQueryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SearchResults]    Script Date: 10/19/2018 1:29:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchResults](
	[SearchResultID] [int] IDENTITY(1,1) NOT NULL,
	[SearchQueryID] [int] NOT NULL,
	[FoundFile] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_SearchResults] PRIMARY KEY CLUSTERED 
(
	[SearchResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SearchResults]  WITH CHECK ADD  CONSTRAINT [FK_SearchResults_SearchQueries] FOREIGN KEY([SearchQueryID])
REFERENCES [dbo].[SearchQueries] ([SearchQueryID])
GO
ALTER TABLE [dbo].[SearchResults] CHECK CONSTRAINT [FK_SearchResults_SearchQueries]
GO
USE [master]
GO
